
# Habilitamos el motor de rewrite
RewriteEngine On
# Condicion de reescritura. si la url que se esta escribiendo contiene el directorio public y algo mas.
RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
# Agregamos reglas de redireccion: cuando encuentre el request queremos que nos lo redireccione a 301 (puclic)
RewriteRule ^ %1 [L,NE,R=301]
# Agregamos otra regla: Cuando no encuentre cualquier cosa lo mande a public
RewriteRule ^((?!public/).*) public/$1 [L,NC]