div .principal {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

div

header.contenedor-encabezado {
    margin-top: 1rem;
    margin-bottom: .7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .7rem;
}

header.contenedor-encabezado p {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: .8rem;
}


div.form-row {
    margin-bottom: 1rem;
}

div .contenido  {
    width:100%;
}

div .contenedor_formulario  {
    width:60%;   
}

div .contenido h1 span {
    font-size: 1rem !important;
}

div .contenido h4 {
    font-size: 1.2rem !important;
    margin-bottom: 1rem;
}

div .contenido a {
    text-decoration: none;
}

div .botonera {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

div .botonera a {
    margin-left: .8rem; 
}

.botonera a {
    color:#666;
}

.botonera a:hover {
    opacity: .8;
}

div .contenedor-views {
    font-size: .9rem;
    margin:0 1rem;
}

div .contenedor-views span {
    color: red;
    font-weight: bold;
}


div .contenedor-views h4 {
    font-size: 1.2rem;
    margin-bottom:.9rem;
}

div .comandos {
    padding: 0 .5rem;  
}


div .botonera-agregar {
    margin-bottom: .5rem;
    margin-right: .9rem;
}

div .botonera-comun input {
margin-right: .3rem;
}

table {
   font-size: .9rem !important;
   
}

table td {
    
    vertical-align: middle !important;
    
 }

table .tablaRangosTitulo {
    text-align: center;

}

table .tablaRangos {
    min-width: 6rem;
    text-align: center;

}


table td.botoneraTabla {
    text-align: right;
    padding: .3rem 0;
}

table td.botoneraTabla a {
    margin-right:.3rem;
}


/* Formulario Crear/Editar Internacion */

div.crear_internacion span {
    color:red;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .7rem;
    font-size: .8rem;
}

footer p {
    margin-bottom: 0;
    margin-right: 1rem;
}


.modal-dialog {
    min-width: 80% !important;
}

div .contenedor-buscador {
    display: flex;
    justify-content: space-evenly;
    
}

.contenedor-buscador input {
    margin-top: .8rem;
    width: 32rem;
}