
div .principal {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

div .nombre_aplicacion {
    display: flex;
}

header.contenedor-encabezado {
    display: flex; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem;
}

header.contenedor-encabezado p {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: .8rem;
}
.migas {
    display: flex;
    align-content: space-around;
    background-color: #e9ecef;
    padding: .3rem 0;
}

.nav-migas {
    display: flex;
    align-items: center;
}
.breadcrumb {
    padding: .1rem .7rem !important;
    font-size: small;
}

ol.breadcrumb {
    margin: 0 !important;

}


div.form-row {
    margin-bottom: 1rem;
}

div .contenido  {
    width:100%;
}

div .contenedor_formulario  {
    width:60%;   
}

div .contenido h1 span {
    font-size: 1rem !important;
}

div .contenido h4 {
    font-size: 1.2rem !important;
    margin-bottom: 1rem;
}

div .contenido .botonera a {
    text-decoration: none;
    color: grey;
}

div .contenido .botonera button:hover {
    background-color: darkgrey;

}

div .contenido .botonera button:hover a {
      color: white;
}

div .botonera {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div .botonera button {
    margin-left: .2rem;

}

div .contenedor-views {
    font-size: .9rem;
    margin:0 1rem;
}

div .contenedor-views span {
    color: red;
    font-weight: bold;
}


div .contenedor-views h4 {
    font-size: 1.2rem;
    margin-bottom:.9rem;
}

div .comandos {
    padding: .5rem;
}

div.botonera-agregar {
    align-self: center;
}

div .botonera-agregar a {
    color: white;
    text-decoration: none;
}

div .barra-buscador {
    display: flex;
    justify-content: space-between;
}

div .barra-buscador input,
div .barra-buscador label {
    font-size: .9rem;
}

div .barra-buscador label {
    margin-right: .9rem;
    margin-bottom: 0;
    align-self: center;
}

div .barra-buscador input {
    margin-right: .3rem;
    margin-bottom: 0;
    align-self: center;
}

table {
   font-size: .9rem !important;
   
}

table tr.verdeClaro {
    background-color: lightgreen;
}

table td {
    
    vertical-align: middle !important;
    
 }

table .tablaRangosTitulo {
    text-align: center;

}

table .tablaRangos {
    min-width: 6rem;
    text-align: center;

}


table td.botoneraTabla {
    text-align: right;
    padding: .3rem 0;
}

table td.botoneraTabla a {
    margin-right:.3rem;
}

/* Formulario Crear/Editar Internacion */

form.formSolo {
    margin-top: 1.5rem;
}

div.crear_internacion span {
    color:red;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: .7rem;
    font-size: .8rem;
}

footer p {
    margin-bottom: 0;
    margin-right: 1rem;
}


.modal-dialog {
    min-width: 80% !important;
}

div .contenedor-buscador {
    display: flex;
    justify-content: space-evenly;
    
}

.contenedor-buscador input {
    margin-top: .8rem;
    width: 32rem;
}