# Habilitamos el motor de rewrite
RewriteEngine On
# Si el archivo que estan pidiendo no es un directorio
RewriteCond %{REQUEST_FILENAME} !-d

# Si el archivo que estan pidiendo no es un archivo
RewriteCond %{REQUEST_FILENAME} !-f

# Entonces si se cumplen las dos condiciones de arriba redirecciona a index.php
RewriteRule ^ index.php [QSA,L]